services:
  web:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    # ВАЖНО: Весь текст команды в кавычках, а вызов функции в одинарных кавычках
    command: "gunicorn --bind 0.0.0.0:8000 'src.app:create_app()'"
    volumes:
      - ../src:/app/src
    ports:
      - "8000:8000"
    env_file: ../.env
    depends_on:
      - db
      - redis

  worker:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    command: "celery -A src.tasks.celery_worker worker --loglevel=info"
    env_file: ../.env
    depends_on:
      - db
      - redis
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1G

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=school_scheduler_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine

volumes:
  postgres_data: